.form-group {
  float: left;
  margin-right: 10px;
}

.form-group.form-duration {
  float: none;
}

.form-group.form-date-time.error input {
  border: 2px solid red;
}

.form-group.form-button {
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 15px;
}